# C++ build artifacts
*.o
*.obj
*.bin
*.exe
*.out
*.app
*.dSYM

# Common compiled files
*.class
*.dll
*.exe
*.pdb
*.lib
*.so
*.a

# IDE config files
*.sublime-workspace
*.sublime-project
.vscode/
.idea/
*.user
*~
